<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/nu_vault_text"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bluevault">
        <activity
            android:name=".main_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_registration"
            android:exported="true" />
        <activity
            android:name=".main_dashboard"
            android:exported="false" />
        <activity
            android:name=".nav_about_us"
            android:exported="false" />
        <activity
            android:name=".nav_pass_change"
            android:exported="false" />
        <activity
            android:name=".nav_contact_info"
            android:exported="false" />
        <activity
            android:name=".profile_view_user"
            android:exported="false" />
        <activity
            android:name=".upload_research"
            android:exported="false" />
        <activity
            android:name=".admin_login"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".admin_registered_students"
            android:exported="false" />
        <activity
            android:name=".admin_pending_reqs"
            android:exported="false" />
        <activity
            android:name=".view_research_admin"
            android:exported="false" />
        <activity
            android:name=".view_research_user"
            android:exported="false" />
        <activity
            android:name=".view_research_super_admin"
            android:exported="false" />
        <activity
            android:name=".super_admin_login"
            android:exported="false" />
        <activity
            android:name=".super_admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".super_admin_registered_teachers"
            android:exported="false" />
        <activity
            android:name=".super_admin_available_researches"
            android:exported="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>